div, p, h1 {
    background-color: red;
}

p {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    color: #333;
}

div {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: red;
    font-size: 100px;
}


/* "p" elementą stilizuoti panaudojant bent 3 stiliaus taisykles susijusias su teksto stilizavimu ir nurodyti po pavyzdinę reikšmę.
"div" elementą stilizuoti panaudojant bent 3 stiliaus taisykles, kurios įtakoja elementų fizinį dydį ir nurodyti po pavyzdinę reikšmę. */