div, p, h1 {
    background-color: red;
}

p {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    color: #333;
}

div {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: red;
    font-size: 100px;
}